.toastComponent {
    position: fixed;
    bottom: 2%;
    right: 4%;
    padding: 2em 2em 2em 2em;
    text-align: center;
    border-radius: 3px;
    background-color: #908C89;
    font-size: 18px;
}

.toastComponent.toast-success, .toastComponent.toast-error {
    visibility: visible;
    opacity: 0.8;
    -webkit-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    transition-timing-function: ease-in;
}

.toastComponent.toast-error {
    background-color: #580000 ;
    color: #FFF;
}

.toastComponent.ng-hide {
    visibility: hidden;
    opacity: 0;
    
}

.toast.error {
    background-color: #f40000;
    color: #fff;
    font-weight: 700;
}
